.button {
	background-color: #0070f3;
	border: none;
	color: white;
	padding: 10px 20px;
	border-radius: 50px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
	display: block;
	width: 20%;
	margin: 5px;
  }
  
  .button:hover {
	background-color: #005bb5;
  }
  
  .button:focus {
	outline: none;
	box-shadow: 0 0 0 3px rgba(0, 112, 243, 0.5);
  }

@media (max-width: 600px) {
	.button {
		background-color: blueviolet;
		padding-left: 15px;
	}

	.button:hover {
		background-color: darkviolet;
	}

	.button:focus {
		box-shadow: 0 0 0 3px rgba(138, 43, 226, 0.5);
	}
}
